*,*:before,*:after{
	box-sizing: border-box;
}
strong, b {
    font-weight: bold;
}
img {
	max-width: 100%;
	height: auto ;
}
a {
	text-decoration: none;
	color: black;
	
	&:hover {
		color: black;
	}
}

input, select, textarea, button, option {
	border: 0;
    outline: none;
    &:focus {
    	border: 0;
    	outline: none;
    }
}