@mixin clearfix(){
  *zoom: 1;

  &:after{
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

@mixin chromeExtensions() {
  .vsc-controller {
        display: none;
    }
}

@mixin checkboxForClick() {
  .checkbox-click {
    position: fixed;
    top: -999px;
    left: -999px;
    display: none;
    @include opacity(0);
  }
}
@mixin hide-text() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin heightFullScreen() {
  height: 100vh;
}

@mixin imgText() {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin bgImgCover($url, $position) {
  background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $position;
}