@import "node_modules/compass-sass-mixins/lib/compass";
// https://github.com/askucher/compass-sass-mixins
@import "imports/extra_reset";
@import "imports/mixin";
@import "imports/screen";

@include global-reset();

/* 範例 */
.content {
	background-image: url(../img/note.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    h1 {
    	font-size: 40px;
    	color: red;
    	font-weight: bold;
        @include opacity(.5);
    }
}
/* 範例 */

/* Your scss code - Start */